/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* fin du reset */


@media all and (max-device-width: 980px) {}

body {
    font-family: "Raleway", sans-serif;
    margin: 0 30px 30px 30px;
    max-width: 100%;
    -webkit-overflow-x: hidden;
    overflow-x: hidden;
    text-decoration: none;
  }
header{
    height: 50px;
    width: 100%;
    margin: 0 50px 30px 20px;
    display: flex;
    justify-content: space-between;
}

.logo{
        height: 40px;
        margin-top: 40px;
}
nav{
    display: flex;
    margin-right: 120px;
}
nav a{
    text-decoration: none;
    padding: 50px;
    height: 50px;   
}

.heb {
    border-top:solid 2px;
    color: #0065FC;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.act {
    padding-bottom: 52px;
    padding-top: 52px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    border-top: solid transparent 2px;
}
.act:hover {
    border-top:solid 2px #0065FC;
    color: #0065FC;
}
.heb:hover {
    border-top:solid 2px #0065FC;
    color: #0065fc;
}
.ins{
    height: 50px;
    border-top:solid 2px transparent;
    color: #0065FC;
    font-weight:1000 !important;
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    text-decoration:none;   
    padding-top: 30px;
    padding-left: 50px;
}
h1{   
    margin-bottom: 10px;
    font-weight: 3000 !important;
    padding-top: 30px;
    font-size: 120%;
}
section p{
    font-weight: 500;
}
.research{
    display: flex;
    margin-top: 20px;
    margin-bottom: 25px;
    color: black;
}
.loca{
    width: 40px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
.recherche{
    border: solid #F2F2F2 1px;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;  
}
.search{
    font-weight: 600;
    background-color: #0065FC;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border:none;
    cursor: pointer;
}
.search2{
    display: none;
}
.filters{ 
    margin-top: 20px;
    display: flex;
    width: 60%;
}
.titlefilters{
    color: black;    
    font-weight: 800;
    display: flex;
    justify-content:flex-wrap;
    align-items: center;
    margin-right: 25px !important;
}
.iconesAndTexts{
    display: flex;
    margin-right: 0px;
    border-top: solid #F2F2F2 4px;
    border-bottom: solid #F2F2F2 2px;
    border-right: solid #F2F2F2 2px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: auto;
    align-items: center;
    
}
.iconesAndTexts:hover{
    background-color: #DEEBFF;
    transform: translateY(-3px);
}
.icones{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textIcones{  
    color: black;
    font-weight: 800;
    text-decoration: none;
    padding: 10px;
}

.info{
    display: flex;
    justify-content:flex-start;
}
.info p{
    width: 25px;
    height: 25px;
    border:solid  #F2F2F2 2px;
    border-radius: 50%;
    color: #0065FC;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 0.8em;
    margin-right: 15px;
    margin-top: 30px;
}
.info span{
    display: flex;
    justify-content: center;
    font-size:small;
    margin-top: 35px;
  }

.heberAvecPopulaire {
    font-weight: bold;
    display: flex;
    margin: 5px 0px 10px 0px;
} 


article{    
    width: 68%;   
    background-color: #F2F2F2;
    border-radius: 20px;
}

h3{
    font-weight: 1000;
    margin-top: 40px;
    margin-left: 40px;
}

#heberMarseille{
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
    margin-right: 15px; 
}

.cardX2{
    width: 28%;   
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background-color: white;
    border-radius: 22px;
    box-shadow: 0 0 6px 3px #adadad46; 
    transition: 0.4s;  
    text-decoration: none;
    font-size: smaller;
}
.card:hover,.card2:hover,.shadow:hover{
    transform: scale(1.07);
}
.img{
    width: 100%;
    height: 55%;   
    border-radius: 20px 20px 0 0;    
    object-fit: cover;
}
.textAndStar{
    color: black;
    margin: 8px 0 7px 10px;
    text-decoration: none;
}
.space{
    margin-top: 5px;
    font-size: smaller;
    display: flex;
    justify-content: flex-start;
}

.fa-star{
    margin-right: 2px;
    text-decoration: none;
}
.bold {
    font-weight: bold;
    padding-left: 2px;
}
.blue{
    color: #0065FC;
}
.grey{
    color: #F2F2F2;
}
.star{
    display: flex;  
    text-decoration: none;  
}
h4{
    color: black;
    font-weight: 800;
    margin: 50px 10px 10px 30px;
}
aside{
    border-radius: 20px;
    margin-left: 30px;
    width: 32%;
    background-color: #F2F2F2;
}
aside h3{
    font-weight: 900;
    margin: 20px 0 12px 10px;
    display: flex;
}
.populaires i{
    margin-top: 20px;
}
.card2{
    border-radius: 22px;
    display: flex;
    min-width: 250PX;
    min-height: 150PX;
    max-height: 150px;
    margin: 20px;
    background-color: white;
    transition: 0.4s;
    text-decoration: none;
}

.populaires{
    display: flex;
    justify-content: space-between;
    margin: 20px 5px 5px 5px;
}

section{
    margin: 10px 20px 0px 20px;
}
section h3{
    font-weight: 900;
    margin-left: 10px;
}
.img2{ 
    object-fit: cover;
    max-width: 150px;
    border-radius: 20px 0 0 20px;
    margin: 4px;
}
.card2 .container{
    display: column;
    color: black;
    margin: 10px;

}
.space2{
    margin: 5px 0 40px 0;
    display: flex;
    justify-content: flex-start;
    font-size: smaller;
    font-weight: lighter;
}



#activitées{
    display: flex;
    justify-content: center;
    margin: 20px 5px 10px 5px;
    height: 410px;
    text-decoration: none;

}
.cardX4{
    height: 390px;
    width: 25%;  
    text-decoration: none;
    margin: 10px;
}

.cardX4 p{
    color: black;
    font-weight: 600;
    margin: 10px;
    text-decoration: none !important;
}

.p{
    text-decoration: none;
}
.right{
    margin-right: 0px;
}
.margin{
    display: block;
    margin-bottom: 30px; 
}
.shadow{
    border-radius: 20px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
}
.img3{
    border-radius: 20px 20px 0 0;
  }
.one{
    height: 340px;
    background-position: center;
    background-size: cover;
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    text-decoration: none;

  }
.two{
    height: 150px;
    background-position: center;
    background-size: cover; 
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    text-decoration: none;

  }
.tree{
    height: 110px;
    background-position:top;
    background-size: cover;
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    text-decoration: none;

  }
.four{
    height: 340px;
    background-size:cover;
    background-position:center;   
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    text-decoration: none;

  }
.five{
    height: 130px;
    background-position: center;
    background-size: cover;
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    text-decoration: none;

  }
.six{
    height: 130px;
    background-position: center;
    background-size: cover;  
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    text-decoration: none;

  }
  .box2{
     height: 200px;
     text-decoration: none;

  }
  .box3{
    height: 160px;
    text-decoration: none;

 }
 .box5, .box6{
    height: 180px;
    text-decoration: none;

 }
  .shadow p{
      font-weight: 700;
      margin: 15px 0 15px 15px;
      text-decoration: none;
  }

  footer{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 170px;
    background-color: #F2F2F2;
    text-decoration: none;
}
ul{
    width: 33%; 
    list-style: none; 
    margin: 20px 0 20px 20px;
    text-decoration: none;

}
li{
    margin-top: 10px;
    text-decoration: none;
}
li a{
    color: black;
    text-decoration: none;
}


@media screen and (max-width:1222px) {
    .space2{
        margin: 0 0 10px 0;
    }
}
@media screen and (max-width:1126px) {
    .space2{
        margin: 0 0 0 0;
    }
    
}
@media screen and (max-width:1086px) {
    #activitées{
        display:flex;
        flex-wrap: wrap;
        height: 800px;
    }
}
@media screen and (max-width:1020px) {
    .heb:hover{
        border-top:solid 2px;
        color: #0065FC;
        }
    .heberAvecPopulaire{
        display: flex;
        flex-direction: column-reverse;
    } 
    
    article{    
        width: 100%; 
        margin-top: 20px;     
    }
    aside{    
        width: 100%;  
        margin-left: 0; 
        margin-top: 20px;   
    }
    .space2{
        margin: 5px 0 40px 0;
    }

    h1 {
        font-weight: 80%;
    }
}
@media screen and (max-width:1000px) {
    .heb:hover{
        border-top:solid 2px;
        color: #0065FC;
        }

    h1 {
            font-size: 70%;
        }
    .cardX4{
    width: 40%; 
    margin: auto; 
    }
}
@media screen and (max-width:844px) {
    .heb:hover{
        border-bottom:solid 2px;
        color: #0065FC;
        }

    h1 {
            font-size: 60%;
        }
    p {font-size: 80%;
    
    }
    .filters{ 
        margin-top: 20px;
        display: flex; 
        flex-wrap: wrap; 
    }
    footer{
        height: 250px;
    }
}
@media screen and (max-width:748px) {

    .heb:hover{
        border-bottom:solid 2px;
        color: #0065FC;
        }

    h1 {
            font-size: 60%;
        }
    #heberMarseille{
        display:flex;
        flex-wrap:wrap;
    }
    .cardX2{
        width: 40%;
    }
}
@media screen and (max-width:645px) {
    h1 {
        font-size: 60%;
    }
    
    article{    
        background-color: white; 
    }
    .heb:hover{
        border-bottom:solid 2px;
        color: #0065FC;
        }
    .cardX2{
        width: 96%;
        margin: 0;
    }
    .cardX4{
        width: 96%;
        margin: 0;
    }
    #activitées{
        height: 1600px;
        margin: 10px 5px 5px 5px;
    }
    aside{
        margin-left: 0px;  
    }
    ul{
        width:70%;
        margin: 0;
        padding: O;
    }
    .card:hover,.card2:hover,.shadow:hover{
        transform: scale(1);
    }
    .heberAvecPopulaire{
        margin: 20px 0px 10px 0px;
    } 
    aside{
        border-radius: 0;  
    }
    footer{
        display: block;
        height: 350px;
        padding-top: 20px ;
    }
}
@media screen and (max-width:500px) {
    h1 {
        font-size: 110%;
        font-weight: bold;
    }

    #heberMarseille{
        margin: 0 0 0 10px;
    }
    .search{
        display: none;
    }
  
    header{
        display:flex;
        flex-direction: column;   
    }

    body{
        margin: 5px 0 2px 0px;
    }

    section{
        margin-top: 70px; 
    }
    nav{
        position: absolute;
        top: 50px;
        width: 100%;
        height: 50px;
    }
    nav a{
        text-decoration: none;
        padding: 0;
        height: 50px;
    }
    .act , .heb{
        display: flex;
        justify-content: center;  
        width: 50%;
        align-items: center;
    }
    .act:hover , .heb:hover{
        border-bottom:solid 2px #0065FC;
        border-top:none;
        color: #0065FC;
    } 

    .filters{ 
        margin-top: 20px;
        display: flex; 
        flex-wrap: wrap; 
        text-align: left;
    }

    .titlefilters{
        margin-bottom: 10px;
    }

    .iconesAndTexts{
        display: flex;
        align-items: left;
    }

    .space2{
        margin: 2px 0 0 0;
    }
    .bold{
        font-weight: bolder !important;
    }
    .#{
        font-size: 100%;
    }

    #cardX4 right {
        margin-block-end: 5px;
    }

    .heberAvecPopulaire{
        margin: 0;
    }
}