/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* fin du reset */


@media all and (max-device-width: 980px) {}

body {
    font-family: "Raleway", sans-serif;
    margin: 0 50px 30px 30px;
    max-width: 100%;
    -webkit-overflow-x: hidden;
    overflow-x: hidden;
    text-decoration: none;
  }
header{
    height: 50px;
    width: 100%;
    margin: 0 50px 30px 20px;
    display: flex;
    justify-content: space-between;
}

.logo{
        height: 40px;
        margin-top: 40px;
}
nav{
    display: flex;
    margin-right: 120px;
}
nav a{
    text-decoration: none;
    padding: 20px;
    height: 50px;   
}
.act , .heb{
    border-top:solid 2px transparent;
    color: black;
    padding-bottom: 50px;
    padding-top: 50px;
}
.act:hover , .heb:hover{
    border-top:solid 2px #0065FC;
    color: #0065FC;
}
.ins{
    height: 50px;
    border-top:solid 2px transparent;
    color: #0065FC;
    font-weight:1000 !important;
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    text-decoration:none;   
    padding-top: 30px;
}
h1{   
    margin-bottom: 10px;
    font-weight: 3000 !important;
    padding-top: 30px;
    font-size: 120%;
}
section p{
    font-weight: 500;
}
.research{
    display: flex;
    margin-top: 20px;
    margin-bottom: 25px;
    color: black;
}
.loca{
    width: 40px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
.recherche{
    border: solid #F2F2F2 1px;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;  
}
.search{
    font-weight: 600;
    background-color: #0065FC;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border:none;
    cursor: pointer;
}
.search2{
    display: none;
}
.filters{ 
    margin-top: 20px;
    display: flex;
    width: 60%;
}
.titlefilters{
    color: black;    
    font-weight: 800;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-right: 5px !important;
}
.iconesAndTexts{
    display: flex;
    margin-right: 20px;
    border-top: solid #F2F2F2 4px;
    border-bottom: solid #F2F2F2 2px;
    border-right: solid #F2F2F2 2px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: auto;
    align-items: center;
    
}
.iconesAndTexts:hover{
    background-color: #DEEBFF;
    transform: translateY(-3px);
}
.icones{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textIcones{  
    color: black;
    font-weight: 800;
    text-decoration: none;
    padding: 10px;
}

.info{
    display: flex;
    justify-content:flex-start;
}
.info p{
    width: 25px;
    height: 25px;
    border:solid  #F2F2F2 2px;
    border-radius: 50%;
    color: #0065FC;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 0.8em;
    margin-right: 15px;
    margin-top: 30px;
}
.info span{
    display: flex;
    justify-content: center;
    font-size:small;
    margin-top: 35px;
  }

.heberAvecPopulaire {
    font-weight: bold;
    display: flex;
    margin: 5px 20px 20px 20px;
} 


article{    
    width: 68%;   
    background-color: #F2F2F2;
    border-radius: 20px;
}

h3{
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}

#heberMarseille{
    display: flex;
    justify-content: space-evenly;
}

.cardX2{
    width: 28%;   
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background-color: white;
    border-radius: 22px;
    box-shadow: 0 0 6px 3px #adadad46; 
    transition: 0.4s;  
}
.card:hover,.card2:hover,.shadow:hover{
    transform: scale(1.07);
}
.img{
    width: 100%;
    height: 55%;   
    border-radius: 20px 20px 0 0;    
    object-fit: cover;
}
.textAndStar{
    color: black;
    margin: 8px 0 7px 15px;
    text-decoration: none;
}
.space{
    margin-top: 5px;
}
.fa-star{
    margin-right: 2px;
    text-decoration: none;
}
.bold{
    font-weight: 800;
}
.blue{
    color: #0065FC;
}
.grey{
    color: #F2F2F2;
}
.star{
    display: flex;  
    text-decoration: none;  
}
h4{
    color: black;
    font-weight: 800;
    margin: 30px 0 30px 30px;
}
aside{
    border-radius: 20px;
    margin-left: 30px;
    width: 32%;
    background-color: #F2F2F2;
}
aside h3{
    font-weight: 800;
    margin: 10px 0 12px 10px;
}
.popu i{
    margin-top: 50px;
}
.card2{
    border-radius: 22px;
    display: flex;
    min-width: 250PX;
    min-height: 150PX;
    max-height: 150px;
    margin: 20px;
    background-color: white;
    transition: 0.4s;
}

.popu{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
section{
    margin: 40px 20px;
}
section h3{
    font-weight: 800;
}
.img2{ 
    object-fit: cover;
    max-width: 150px;
    border-radius: 20px 0 0 20px;
    margin: 4px;
}
.card2 .container{
    display: column;
    color: black;
    margin: 10px;
}
.space2{
    margin: 5px 0 40px 0;
}
#activitées{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 410px;
}
.cardX4{
    height: 390px;
    width: 25%;  
}
.cardX4 p{
    color: black;
    font-weight: 600;
    margin: 10px;
}
.right{
    margin-right: 30px;
}
.margin{
    display: block;
    margin-bottom: 30px; 
}
.shadow{
    border-radius: 20px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
}
.img3{
    border-radius: 20px 20px 0 0;
  }
.one{
    height: 340px;
    background-position: center;
    background-size: cover;
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  }
.two{
    height: 150px;
    background-position: center;
    background-size: cover; 
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  }
.tree{
    height: 110px;
    background-position:top;
    background-size: cover;
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  }
.four{
    height: 340px;
    background-size:cover;
    background-position:center;   
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  }
.five{
    height: 130px;
    background-position: center;
    background-size: cover;
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  }
.six{
    height: 130px;
    background-position: center;
    background-size: cover;  
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  }
  .box2{
     height: 200px;
  }
  .box3{
    height: 160px;
 }
 .box5, .box6{
    height: 180px;
 }
  .shadow p{
      font-weight: 700;
      margin: 15px 0 15px 15px;
  }
  footer{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 170px;
    background-color: #F2F2F2;
    text-decoration: none;
}
ul{
    width: 33%; 
    list-style: none; 
    margin: 20px 0 20px 20px;  
}
li{
    margin-top: 10px;
    text-decoration: none;
}
li a{
    color: black;
}