/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* fin du reset */


@media all and (max-device-width: 980px) {}

header {
    color: #0065FC;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.logo { 
    width: 100px;
    height: 50px;
    margin-left: 20px;
}

nav{
    color:#F2F2F2;
    margin-top: 15px;
    }


header a {
    text-decoration: none;
    padding-top: 20px;
    margin-right: 10px;
    color: gray  ;
}

nav a:hover { 
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

body {
    font-family: 'Raleway';
    color: #0065FC;
    margin: 0;
    max-width: 100%;
}

.inscription{
    color: #0065FC;
    font-weight: bold;
    padding-top: 38px;

}

h1{ margin-top: 400px;
    margin-bottom: 100px;
    font-weight:800;
}
section p{
    font-weight: 500;
}